body{
    background-color: var(--page-bg);
}
:root{
    --box-bg : rgb(255, 255, 255);
    --box-txt : black;
    --page-bg : white;
    --s-border : rgba(79, 78, 78, 0.261);
    --b-border : gray;
    --ph-bg : white;
    --noti-bg : white;
    --noti-txt-success : black;
}

.dark{
    --box-bg : rgba(28, 28, 30, 255);
    --box-txt : white;
    --page-bg : black;
    --s-border : rgba(79, 78, 78, 0.261);
    --b-border : gray;
    --ph-bg : rgb(113, 113, 113);
    --noti-bg : rgba(28,28,30,255);
    --noti-txt-success :  rgb(7, 205, 7);
}
.auth-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--page-bg);
}

.log-in-box {
    cursor: pointer;
    width: 25rem;
    height: fit-content;
    padding: 1rem 1rem;
    position: relative;
    border-bottom: 1px solid var(--b-border);
    border-bottom-right-radius: 7px;
    font-family: sans-serif;
    background-color: var(--box-bg);
    color: var(--box-txt);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.log-in-box .heading h3 {
    position: absolute;
    right: 10%;
    top: 5%;
    display: none;
}

.log-in-box .inputs {
    margin-top: .7rem;
    display: flex;
    flex-direction: column;
}

.log-in-box .inputs label {
    align-self: flex-end;
    padding: 0 1.5rem;
    letter-spacing: .1rem;
    font-size: .8rem;
}

.log-in-box .inputs input {
    width: 88%;
    background-color: rgba(14, 0, 28, 0.286);
    height: 2.5rem;
    margin: 0rem 6% 3rem 6%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--box-txt);
    color: var(--box-txt);
    outline: none;
    border-radius: 0;
}

.log-in-box .inputs .password-input {
    margin-right: 0;
    position: relative;
}


.log-in-box .auth-btn {
    width: 95%;
}

.log-in-box .auth-btn button {
    float: right;
    background-color: rgba(68, 68, 68, 255);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: .4rem .6rem;
}

.log-in-box .auth-btn p {
    float: left;
    color: var(--box-txt);
    margin-left: 5%;
    font-size: .85rem;
}

.log-in-box .auth-btn p span {
    color: rgb(145, 145, 251);
    font-size: 1rem;
    text-decoration: underline;
}

.res {
    background-color: var(--noti-bg);
    position: absolute;
    top: 0;
    width: 15rem;
    height: 8rem;
    transition: 1s;
    transform: translateY(-110%);
    text-align: center;
    color: white;
    border-top: none;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 2.5rem .5rem;
    box-shadow: rgba(154, 154, 154, 0.24) 0px 3px 8px;
}

.success {
    transform: translateY(0);
    color: var(--noti-txt-success);
}

.failed {
    transform: translateY(0);
    color: rgb(255, 0, 0);
}

.msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:500px) {
    .log-in-box {
        width: 90%;
    }
}